
/* Body */
body{
    background-color: #EDEDED; 
}

/* Title */
.title{
    color: #E4980B;  
    font-family: 'Courier New', 'Times New Roman';
    font-weight: bolder; 
    padding-top: 25px; 
}

/* Box */
.box {
    margin-top: 25px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white; 
}

/* Images */
img{
    width:100%;
    height:100%;
}

.visualization{
    width:100%;
    height:100%;
}

.rightbox:hover{
    border-color:#E4980B;
    border-style: solid; 
}

/* Navbar */
.nav-link:hover{
    background-color:#E4980B;
   }

.navigation .navbar-brand{
    margin-left: 30px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: #E4980B;
    color: #FFFFFF; 
    font-family: 'Courier New', 'Times New Roman';
}

.dropdown-item:hover{
    background-color:#E4980B; 
}

/* Footer */
.footer {
    background-color: #868987; 
    border-top-color: #E4980B;
    border-top-style: solid; 
    border-top-width: 5px; 
    min-height: 50px; 
    color: white; 
    font-family: Arial;
    font-size: 15px; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px; 
  }

  /* Media queries */
  @media (min-width: 576px) { }